:root {
    /* Light Theme */
    --md-sys-color-light-primary: rgb(98 94 86);
    --md-sys-color-light-surface-tint: rgb(98 94 86);
    --md-sys-color-light-on-primary: rgb(255 255 255);
    --md-sys-color-light-primary-container: rgb(184 178 169);
    --md-sys-color-light-on-primary-container: rgb(72 69 62);
    --md-sys-color-light-secondary: rgb(100 93 85);
    --md-sys-color-light-on-secondary: rgb(255 255 255);
    --md-sys-color-light-secondary-container: rgb(154 146 136);
    --md-sys-color-light-on-secondary-container: rgb(48 43 36);
    --md-sys-color-light-tertiary: rgb(96 94 89);
    --md-sys-color-light-on-tertiary: rgb(255 255 255);
    --md-sys-color-light-tertiary-container: rgb(214 210 203);
    --md-sys-color-light-on-tertiary-container: rgb(92 90 85);
    --md-sys-color-light-error: rgb(144 7 8);
    --md-sys-color-light-on-error: rgb(255 255 255);
    --md-sys-color-light-error-container: rgb(179 38 30);
    --md-sys-color-light-on-error-container: rgb(255 203 196);
    --md-sys-color-light-background: rgb(253 248 247);
    --md-sys-color-light-on-background: rgb(28 27 27);
    --md-sys-color-light-surface: rgb(252 248 248);
    --md-sys-color-light-on-surface: rgb(28 27 27);
    --md-sys-color-light-surface-variant: rgb(224 227 227);
    --md-sys-color-light-on-surface-variant: rgb(68 71 72);
    --md-sys-color-light-outline: rgb(116 120 120);
    --md-sys-color-light-outline-variant: rgb(196 199 199);
    --md-sys-color-light-shadow: rgb(0 0 0);
    --md-sys-color-light-scrim: rgb(0 0 0);
    --md-sys-color-light-inverse-surface: rgb(49 48 48);
    --md-sys-color-light-inverse-on-surface: rgb(244 240 239);
    --md-sys-color-light-inverse-primary: rgb(204 198 188);
    --md-sys-color-light-primary-fixed: rgb(232 226 216);
    --md-sys-color-light-on-primary-fixed: rgb(30 27 21);
    --md-sys-color-light-primary-fixed-dim: rgb(204 198 188);
    --md-sys-color-light-on-primary-fixed-variant: rgb(74 70 63);
    --md-sys-color-light-secondary-fixed: rgb(235 225 214);
    --md-sys-color-light-on-secondary-fixed: rgb(31 27 20);
    --md-sys-color-light-secondary-fixed-dim: rgb(206 197 186);
    --md-sys-color-light-on-secondary-fixed-variant: rgb(76 70 62);
    --md-sys-color-light-tertiary-fixed: rgb(230 226 219);
    --md-sys-color-light-on-tertiary-fixed: rgb(28 28 23);
    --md-sys-color-light-tertiary-fixed-dim: rgb(202 198 191);
    --md-sys-color-light-on-tertiary-fixed-variant: rgb(72 71 66);
    --md-sys-color-light-surface-dim: rgb(221 217 217);
    --md-sys-color-light-surface-bright: rgb(252 248 248);
    --md-sys-color-light-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-light-surface-container-low: rgb(246 243 242);
    --md-sys-color-light-surface-container: rgb(241 237 236);
    --md-sys-color-light-surface-container-high: rgb(235 231 231);
    --md-sys-color-light-surface-container-highest: rgb(229 226 225);

    /* Light Medium Contrast Theme */
    --md-sys-color-light-mc-primary: rgb(57 54 47);
    --md-sys-color-light-mc-surface-tint: rgb(98 94 86);
    --md-sys-color-light-mc-on-primary: rgb(255 255 255);
    --md-sys-color-light-mc-primary-container: rgb(113 108 101);
    --md-sys-color-light-mc-on-primary-container: rgb(255 255 255);
    --md-sys-color-light-mc-secondary: rgb(56 54 51);
    --md-sys-color-light-mc-on-secondary: rgb(255 255 255);
    --md-sys-color-light-mc-secondary-container: rgb(112 108 105);
    --md-sys-color-light-mc-on-secondary-container: rgb(255 255 255);
    --md-sys-color-light-mc-tertiary: rgb(53 55 50);
    --md-sys-color-light-mc-on-tertiary: rgb(255 255 255);
    --md-sys-color-light-mc-tertiary-container: rgb(108 110 104);
    --md-sys-color-light-mc-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-light-mc-error: rgb(116 0 6);
    --md-sys-color-light-mc-on-error: rgb(255 255 255);
    --md-sys-color-light-mc-error-container: rgb(207 44 39);
    --md-sys-color-light-mc-on-error-container: rgb(255 255 255);
    --md-sys-color-light-mc-background: rgb(253 248 247);
    --md-sys-color-light-mc-on-background: rgb(28 27 27);
    --md-sys-color-light-mc-surface: rgb(253 248 247);
    --md-sys-color-light-mc-on-surface: rgb(18 17 16);
    --md-sys-color-light-mc-surface-variant: rgb(233 225 215);
    --md-sys-color-light-mc-on-surface-variant: rgb(57 54 47);
    --md-sys-color-light-mc-outline: rgb(86 82 74);
    --md-sys-color-light-mc-outline-variant: rgb(113 108 100);
    --md-sys-color-light-mc-shadow: rgb(0 0 0);
    --md-sys-color-light-mc-scrim: rgb(0 0 0);
    --md-sys-color-light-mc-inverse-surface: rgb(49 48 47);
    --md-sys-color-light-mc-inverse-on-surface: rgb(244 240 238);
    --md-sys-color-light-mc-inverse-primary: rgb(204 198 188);
    --md-sys-color-light-mc-primary-fixed: rgb(113 108 101);
    --md-sys-color-light-mc-on-primary-fixed: rgb(255 255 255);
    --md-sys-color-light-mc-primary-fixed-dim: rgb(88 84 77);
    --md-sys-color-light-mc-on-primary-fixed-variant: rgb(255 255 255);
    --md-sys-color-light-mc-secondary-fixed: rgb(112 108 105);
    --md-sys-color-light-mc-on-secondary-fixed: rgb(255 255 255);
    --md-sys-color-light-mc-secondary-fixed-dim: rgb(87 84 81);
    --md-sys-color-light-mc-on-secondary-fixed-variant: rgb(255 255 255);
    --md-sys-color-light-mc-tertiary-fixed: rgb(108 110 104);
    --md-sys-color-light-mc-on-tertiary-fixed: rgb(255 255 255);
    --md-sys-color-light-mc-tertiary-fixed-dim: rgb(84 85 80);
    --md-sys-color-light-mc-on-tertiary-fixed-variant: rgb(255 255 255);
    --md-sys-color-light-mc-surface-dim: rgb(201 198 196);
    --md-sys-color-light-mc-surface-bright: rgb(253 248 247);
    --md-sys-color-light-mc-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-light-mc-surface-container-low: rgb(247 243 241);
    --md-sys-color-light-mc-surface-container: rgb(236 231 230);
    --md-sys-color-light-mc-surface-container-high: rgb(224 220 218);
    --md-sys-color-light-mc-surface-container-highest: rgb(213 209 207);

    /* Light High Contrast Theme */
    --md-sys-color-light-hc-primary: rgb(47 44 37);
    --md-sys-color-light-hc-surface-tint: rgb(98 94 86);
    --md-sys-color-light-hc-on-primary: rgb(255 255 255);
    --md-sys-color-light-hc-primary-container: rgb(76 73 66);
    --md-sys-color-light-hc-on-primary-container: rgb(255 255 255);
    --md-sys-color-light-hc-secondary: rgb(46 44 41);
    --md-sys-color-light-hc-on-secondary: rgb(255 255 255);
    --md-sys-color-light-hc-secondary-container: rgb(75 73 69);
    --md-sys-color-light-hc-on-secondary-container: rgb(255 255 255);
    --md-sys-color-light-hc-tertiary: rgb(43 45 40);
    --md-sys-color-light-hc-on-tertiary: rgb(255 255 255);
    --md-sys-color-light-hc-tertiary-container: rgb(72 74 68);
    --md-sys-color-light-hc-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-light-hc-error: rgb(96 0 4);
    --md-sys-color-light-hc-on-error: rgb(255 255 255);
    --md-sys-color-light-hc-error-container: rgb(152 0 10);
    --md-sys-color-light-hc-on-error-container: rgb(255 255 255);
    --md-sys-color-light-hc-background: rgb(253 248 247);
    --md-sys-color-light-hc-on-background: rgb(28 27 27);
    --md-sys-color-light-hc-surface: rgb(253 248 247);
    --md-sys-color-light-hc-on-surface: rgb(0 0 0);
    --md-sys-color-light-hc-surface-variant: rgb(233 225 215);
    --md-sys-color-light-hc-on-surface-variant: rgb(0 0 0);
    --md-sys-color-light-hc-outline: rgb(47 44 37);
    --md-sys-color-light-hc-outline-variant: rgb(77 73 65);
    --md-sys-color-light-hc-shadow: rgb(0 0 0);
    --md-sys-color-light-hc-scrim: rgb(0 0 0);
    --md-sys-color-light-hc-inverse-surface: rgb(49 48 47);
    --md-sys-color-light-hc-inverse-on-surface: rgb(255 255 255);
    --md-sys-color-light-hc-inverse-primary: rgb(204 198 188);
    --md-sys-color-light-hc-primary-fixed: rgb(76 73 66);
    --md-sys-color-light-hc-on-primary-fixed: rgb(255 255 255);
    --md-sys-color-light-hc-primary-fixed-dim: rgb(53 50 44);
    --md-sys-color-light-hc-on-primary-fixed-variant: rgb(255 255 255);
    --md-sys-color-light-hc-secondary-fixed: rgb(75 73 69);
    --md-sys-color-light-hc-on-secondary-fixed: rgb(255 255 255);
    --md-sys-color-light-hc-secondary-fixed-dim: rgb(52 50 47);
    --md-sys-color-light-hc-on-secondary-fixed-variant: rgb(255 255 255);
    --md-sys-color-light-hc-tertiary-fixed: rgb(72 74 68);
    --md-sys-color-light-hc-on-tertiary-fixed: rgb(255 255 255);
    --md-sys-color-light-hc-tertiary-fixed-dim: rgb(49 51 46);
    --md-sys-color-light-hc-on-tertiary-fixed-variant: rgb(255 255 255);
    --md-sys-color-light-hc-surface-dim: rgb(187 184 182);
    --md-sys-color-light-hc-surface-bright: rgb(253 248 247);
    --md-sys-color-light-hc-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-light-hc-surface-container-low: rgb(244 240 238);
    --md-sys-color-light-hc-surface-container: rgb(230 226 224);
    --md-sys-color-light-hc-surface-container-high: rgb(215 211 210);
    --md-sys-color-light-hc-surface-container-highest: rgb(201 198 196);

    /* Dark Theme */
    --md-sys-color-dark-primary: rgb(212 205 196);
    --md-sys-color-dark-surface-tint: rgb(204 198 188);
    --md-sys-color-dark-on-primary: rgb(51 48 42);
    --md-sys-color-dark-primary-container: rgb(184 178 169);
    --md-sys-color-dark-on-primary-container: rgb(72 69 62);
    --md-sys-color-dark-secondary: rgb(202 198 193);
    --md-sys-color-dark-on-secondary: rgb(50 48 45);
    --md-sys-color-secondary-container: rgb(75 73 69);
    --md-sys-color-dark-on-secondary-container: rgb(188 184 179);
    --md-sys-color-dark-tertiary: rgb(206 206 199);
    --md-sys-color-dark-on-tertiary: rgb(47 49 44);
    --md-sys-color-dark-tertiary-container: rgb(178 179 172);
    --md-sys-color-dark-on-tertiary-container: rgb(67 69 64);
    --md-sys-color-dark-error: rgb(255 180 171);
    --md-sys-color-dark-on-error: rgb(105 0 5);
    --md-sys-color-dark-error-container: rgb(147 0 10);
    --md-sys-color-dark-on-error-container: rgb(255 218 214);
    --md-sys-color-dark-background: rgb(20 19 19);
    --md-sys-color-dark-on-background: rgb(230 226 224);
    --md-sys-color-dark-surface: rgb(20 19 19);
    --md-sys-color-dark-on-surface: rgb(230 226 224);
    --md-sys-color-dark-surface-variant: rgb(74 70 63);
    --md-sys-color-dark-on-surface-variant: rgb(204 198 188);
    --md-sys-color-dark-outline: rgb(149 144 135);
    --md-sys-color-dark-outline-variant: rgb(74 70 63);
    --md-sys-color-dark-shadow: rgb(0 0 0);
    --md-sys-color-dark-scrim: rgb(0 0 0);
    --md-sys-color-dark-inverse-surface: rgb(230 226 224);
    --md-sys-color-dark-inverse-on-surface: rgb(49 48 47);
    --md-sys-color-dark-inverse-primary: rgb(98 94 86);
    --md-sys-color-dark-primary-fixed: rgb(232 226 216);
    --md-sys-color-dark-on-primary-fixed: rgb(30 27 21);
    --md-sys-color-dark-primary-fixed-dim: rgb(204 198 188);
    --md-sys-color-dark-on-primary-fixed-variant: rgb(74 70 63);
    --md-sys-color-dark-secondary-fixed: rgb(231 226 221);
    --md-sys-color-dark-on-secondary-fixed: rgb(29 27 25);
    --md-sys-color-dark-secondary-fixed-dim: rgb(202 198 193);
    --md-sys-color-dark-on-secondary-fixed-variant: rgb(73 70 67);
    --md-sys-color-dark-tertiary-fixed: rgb(226 227 219);
    --md-sys-color-dark-on-tertiary-fixed: rgb(26 28 24);
    --md-sys-color-dark-tertiary-fixed-dim: rgb(198 199 192);
    --md-sys-color-dark-on-tertiary-fixed-variant: rgb(69 71 66);
    --md-sys-color-dark-surface-dim: rgb(20 19 19);
    --md-sys-color-dark-surface-bright: rgb(58 57 56);
    --md-sys-color-dark-surface-container-lowest: rgb(15 14 13);
    --md-sys-color-dark-surface-container-low: rgb(28 27 27);
    --md-sys-color-dark-surface-container: rgb(32 31 31);
    --md-sys-color-dark-surface-container-high: rgb(43 42 41);
    --md-sys-color-dark-surface-container-highest: rgb(54 52 52);

    /* Dark High Contrast Theme */
    --md-sys-color-dark-hc-primary: rgb(246 239 229);
    --md-sys-color-dark-hc-surface-tint: rgb(204 198 188);
    --md-sys-color-dark-hc-on-primary: rgb(0 0 0);
    --md-sys-color-dark-hc-primary-container: rgb(200 194 184);
    --md-sys-color-dark-hc-on-primary-container: rgb(13 11 6);
    --md-sys-color-dark-hc-secondary: rgb(245 239 234);
    --md-sys-color-dark-hc-on-secondary: rgb(0 0 0);
    --md-sys-color-dark-hc-secondary-container: rgb(199 194 189);
    --md-sys-color-dark-hc-on-secondary-container: rgb(12 11 9);
    --md-sys-color-dark-hc-tertiary: rgb(240 240 233);
    --md-sys-color-dark-hc-on-tertiary: rgb(0 0 0);
    --md-sys-color-dark-hc-tertiary-container: rgb(194 195 188);
    --md-sys-color-dark-hc-on-tertiary-container: rgb(10 12 8);
    --md-sys-color-dark-hc-error: rgb(255 236 233);
    --md-sys-color-dark-hc-on-error: rgb(0 0 0);
    --md-sys-color-dark-hc-error-container: rgb(255 174 164);
    --md-sys-color-dark-hc-on-error-container: rgb(34 0 1);
    --md-sys-color-dark-hc-background: rgb(20 19 19);
    --md-sys-color-dark-hc-on-background: rgb(230 226 224);
    --md-sys-color-dark-hc-surface: rgb(20 19 19);
    --md-sys-color-dark-hc-on-surface: rgb(255 255 255);
    --md-sys-color-dark-hc-surface-variant: rgb(74 70 63);
    --md-sys-color-dark-hc-on-surface-variant: rgb(255 255 255);
    --md-sys-color-dark-hc-outline: rgb(246 239 229);
    --md-sys-color-dark-hc-outline-variant: rgb(200 194 184);
    --md-sys-color-dark-hc-shadow: rgb(0 0 0);
    --md-sys-color-dark-hc-scrim: rgb(0 0 0);
    --md-sys-color-dark-hc-inverse-surface: rgb(230 226 224);
    --md-sys-color-dark-hc-inverse-on-surface: rgb(0 0 0);
    --md-sys-color-dark-hc-inverse-primary: rgb(75 71 64);
    --md-sys-color-dark-hc-primary-fixed: rgb(232 226 216);
    --md-sys-color-dark-hc-on-primary-fixed: rgb(0 0 0);
    --md-sys-color-dark-hc-primary-fixed-dim: rgb(204 198 188);
    --md-sys-color-dark-hc-on-primary-fixed-variant: rgb(19 17 11);
    --md-sys-color-dark-hc-secondary-fixed: rgb(231 226 221);
    --md-sys-color-dark-hc-on-secondary-fixed: rgb(0 0 0);
    --md-sys-color-dark-hc-secondary-fixed-dim: rgb(202 198 193);
    --md-sys-color-dark-hc-on-secondary-fixed-variant: rgb(18 17 14);
    --md-sys-color-dark-hc-tertiary-fixed: rgb(226 227 219);
    --md-sys-color-dark-hc-on-tertiary-fixed: rgb(0 0 0);
    --md-sys-color-dark-hc-tertiary-fixed-dim: rgb(198 199 192);
    --md-sys-color-dark-hc-on-tertiary-fixed-variant: rgb(16 18 14);
    --md-sys-color-dark-hc-surface-dim: rgb(20 19 19);
    --md-sys-color-dark-hc-surface-bright: rgb(81 80 79);
    --md-sys-color-dark-hc-surface-container-lowest: rgb(0 0 0);
    --md-sys-color-dark-hc-surface-container-low: rgb(32 31 31);
    --md-sys-color-dark-hc-surface-container: rgb(49 48 47);
    --md-sys-color-dark-hc-surface-container-high: rgb(60 59 58);
    --md-sys-color-dark-hc-surface-container-highest: rgb(72 70 69);

    /* Dark Medium Contrast Theme */
    --md-sys-color-dark-mc-primary: rgb(226 219 210);
    --md-sys-color-dark-mc-surface-tint: rgb(204 198 188);
    --md-sys-color-dark-mc-on-primary: rgb(40 37 31);
    --md-sys-color-dark-mc-primary-container: rgb(184 178 169);
    --md-sys-color-dark-mc-on-primary-container: rgb(42 39 33);
    --md-sys-color-dark-mc-secondary: rgb(225 219 215);
    --md-sys-color-dark-mc-on-secondary: rgb(39 37 34);
    --md-sys-color-dark-mc-secondary-container: rgb(148 144 140);
    --md-sys-color-dark-mc-on-secondary-container: rgb(0 0 0);
    --md-sys-color-dark-mc-tertiary: rgb(220 221 213);
    --md-sys-color-dark-mc-on-tertiary: rgb(36 38 34);
    --md-sys-color-dark-mc-tertiary-container: rgb(178 179 172);
    --md-sys-color-dark-mc-on-tertiary-container: rgb(38 40 35);
    --md-sys-color-dark-mc-error: rgb(255 210 204);
    --md-sys-color-dark-mc-on-error: rgb(84 0 3);
    --md-sys-color-dark-mc-error-container: rgb(255 84 73);
    --md-sys-color-dark-mc-on-error-container: rgb(0 0 0);
    --md-sys-color-dark-mc-background: rgb(20 19 19);
    --md-sys-color-dark-mc-on-background: rgb(230 226 224);
    --md-sys-color-dark-mc-surface: rgb(20 19 19);
    --md-sys-color-dark-mc-on-surface: rgb(255 255 255);
    --md-sys-color-dark-mc-surface-variant: rgb(74 70 63);
    --md-sys-color-dark-mc-on-surface-variant: rgb(226 219 209);
    --md-sys-color-dark-mc-outline: rgb(183 177 168);
    --md-sys-color-dark-mc-outline-variant: rgb(149 144 135);
    --md-sys-color-dark-mc-shadow: rgb(0 0 0);
    --md-sys-color-dark-mc-scrim: rgb(0 0 0);
    --md-sys-color-dark-mc-inverse-surface: rgb(230 226 224);
    --md-sys-color-dark-mc-inverse-on-surface: rgb(43 42 41);
    --md-sys-color-dark-mc-inverse-primary: rgb(75 71 64);
    --md-sys-color-dark-mc-primary-fixed: rgb(232 226 216);
    --md-sys-color-dark-mc-on-primary-fixed: rgb(19 17 11);
    --md-sys-color-dark-mc-primary-fixed-dim: rgb(204 198 188);
    --md-sys-color-dark-mc-on-primary-fixed-variant: rgb(57 54 47);
    --md-sys-color-dark-mc-secondary-fixed: rgb(231 226 221);
    --md-sys-color-dark-mc-on-secondary-fixed: rgb(18 17 14);
    --md-sys-color-dark-mc-secondary-fixed-dim: rgb(202 198 193);
    --md-sys-color-dark-mc-on-secondary-fixed-variant: rgb(56 54 51);
    --md-sys-color-dark-mc-tertiary-fixed: rgb(226 227 219);
    --md-sys-color-dark-mc-on-tertiary-fixed: rgb(16 18 14);
    --md-sys-color-dark-mc-tertiary-fixed-dim: rgb(198 199 192);
    --md-sys-color-dark-mc-on-tertiary-fixed-variant: rgb(53 55 50);
    --md-sys-color-dark-mc-surface-dim: rgb(20 19 19);
    --md-sys-color-dark-mc-surface-bright: rgb(70 68 67);
    --md-sys-color-dark-mc-surface-container-lowest: rgb(8 7 7);
    --md-sys-color-dark-mc-surface-container-low: rgb(30 29 29);
    --md-sys-color-dark-mc-surface-container: rgb(41 40 39);
    --md-sys-color-dark-mc-surface-container-high: rgb(52 50 49);
    --md-sys-color-dark-mc-surface-container-highest: rgb(63 61 60);

    /* Font Family */
    --md-font-family: "Roboto", sans-serif;

    /* Typography */

    /* Text Display */
    --md-text-display-large: 400 57px/64px var(--md-font-family);
    --md-text-display-large-emphasized: 500 57px/64px var(--md-font-family);
    --md-text-display-medium: 400 45px/52px var(--md-font-family);
    --md-text-display-medium-emphasized: 500 45px/52px var(--md-font-family);
    --md-text-display-small: 400 36px/44px var(--md-font-family);
    --md-text-display-small-emphasized: 500 36px/44px var(--md-font-family);

    /* Text Headline */
    --md-text-headline-large: 400 32px/40px var(--md-font-family);
    --md-text-headline-large-emphasized: 500 32px/40px var(--md-font-family);
    --md-text-headline-medium: 400 28px/36px var(--md-font-family);
    --md-text-headline-medium-emphasized: 500 28px/36px var(--md-font-family);
    --md-text-headline-small: 400 24px/32px var(--md-font-family);
    --md-text-headline-small-emphasized: 500 24px/32px var(--md-font-family);

    /* Text Title */
    --md-text-title-large: 400 22px/28px var(--md-font-family);
    --md-text-title-large-emphasized: 500 22px/28px var(--md-font-family);
    --md-text-title-medium: 500 16px/24px var(--md-font-family);
    --md-text-title-medium-emphasized: 700 16px/24px var(--md-font-family);
    --md-text-title-small: 500 14px/20px var(--md-font-family);
    --md-text-title-small-emphasized: 700 14px/20px var(--md-font-family);

    /* Text Label */
    --md-text-label-large: 500 14px/20px var(--md-font-family);
    --md-text-label-large-emphasized: 700 14px/20px var(--md-font-family);
    --md-text-label-medium: 500 12px/16px var(--md-font-family);
    --md-text-label-medium-emphasized: 700 12px/16px var(--md-font-family);
    --md-text-label-small: 500 11px/16px var(--md-font-family);
    --md-text-label-small-emphasized: 700 11px/16px var(--md-font-family);

    /* Text Body */
    --md-text-body-large: 400 16px/24px var(--md-font-family);
    --md-text-body-large-emphasized: 500 16px/24px var(--md-font-family);
    --md-text-body-medium: 400 14px/20px var(--md-font-family);
    --md-text-body-medium-emphasized: 500 14px/20px var(--md-font-family);
    --md-text-body-small: 400 12px/16px var(--md-font-family);
    --md-text-body-small-emphasized: 500 12px/16px var(--md-font-family);

    /* Letter spacing */
    --md-text-display-large-letter-spacing: -.25px;
    --md-text-display-medium-letter-spacing: 0;
    --md-text-display-small-letter-spacing: 0;
    --md-text-headline-large-letter-spacing: 0;
    --md-text-headline-medium-letter-spacing: 0;
    --md-text-headline-small-letter-spacing: 0;
    --md-text-title-large-letter-spacing: 0;
    --md-text-title-medium-letter-spacing: .15px;
    --md-text-title-small-letter-spacing: .1px;
    --md-text-label-large-letter-spacing: .1px;
    --md-text-label-medium-letter-spacing: .5px;
    --md-text-label-small-letter-spacing: .5px;
    --md-text-body-large-letter-spacing: .5px;
    --md-text-body-medium-letter-spacing: .25px;
    --md-text-body-small-letter-spacing: .4px;

    /* Material Design - Spacing - Increments of 4px */
    --md-spacing: 4px;

    --md-elevation-light-1-border-radius: 1rem;
    --md-elevation-light-1-background-color : var(--md-sys-color-light-surface-container-low);
    --md-elevation-light-1-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30), 0 1px 3px 1px rgba(0, 0, 0, 0.15);

    --md-elevation-light-2-border-radius: 1rem;
    --md-elevation-light-2-background-color: var(--md-sys-color-light-surface-container);
    --md-elevation-light-2-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30), 0 2px 6px 2px rgba(0, 0, 0, 0.15);

    --md-elevation-light-3-border-radius: 1rem;
    --md-elevation-light-3-background-color: var(--md-sys-color-light-surface-container-high);
    --md-elevation-light-3-box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.30);

    --md-elevation-light-4-border-radius: 1rem;
    --md-elevation-light-4-background-color: var(--md-sys-color-light-surface-container-high);
    --md-elevation-light-4-box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.30);

    --md-elevation-light-5-border-radius: 1rem;
    --md-elevation-light-5-background-color: var(--md-sys-color-light-surface-container-highest);
    --md-elevation-light-5-box-shadow: 0 8px 12px 6px rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.30);
}

/* Visually hidden class for accessibility */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--md-font-family), sans-serif;
}

body {
    background-color: var(--md-sys-color-light-background);
    color: var(--md-sys-color-light-on-background);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
}

.todo-container {
    background-color: var(--md-elevation-light-1-background-color);
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: var(--md-elevation-light-1-border-radius);
    box-shadow: var(--md-elevation-light-1-box-shadow);
}

.todo-container h1 {
    text-align: center;
    margin: 1rem 0 2.5rem 0;
    color: var(--md-sys-color-light-on-surface);
    font: var(--md-text-headline-large);
    letter-spacing: var(--md-text-headline-large-letter-spacing);
}

#todo-form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}


#todo-input-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.25rem;
    outline: 1px solid var(--md-sys-color-light-outline);
    background-color: var(--md-sys-color-light-surface);
}

#todo-input-div:focus-within {
    outline: 3px solid var(--md-sys-color-light-primary);
}

#todo-input-div:hover {
    outline: 1px solid var(--md-sys-color-light-on-surface);
}

#todo-input-layout {
    display: flex;
    padding: 0.25rem 0 0.25rem 1rem;
    align-items: flex-start;
    gap: 0.25rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.25rem 0.25rem 0 0;
}

#todo-input {
    display: flex;
    height: 3rem;
    padding: 0.25rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 0;
    border: none;

    /* Input Text */
    font: var(--md-text-body-large);
    letter-spacing: var(--md-text-body-large-letter-spacing);
    color: var(--md-sys-color-light-on-surface);
}

#todo-input::placeholder {
    font: var(--md-text-body-large);
    letter-spacing: var(--md-text-body-large-letter-spacing);
    color: var(--md-sys-color-light-on-surface-variant);
}

#todo-input:focus,
#todo-input:active {
    outline: none;
    box-shadow: none;
}

#todo-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-button-wrapper button {
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: 1rem;
    border: none;

    background: var(--md-sys-color-light-primary);
    font: var(--md-text-title-medium);
    color: var(--md-sys-color-light-on-primary);
    letter-spacing: var(--md-text-title-medium-letter-spacing);

    position: relative;
    overflow: hidden;
}

#todo-button-wrapper button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: currentColor;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
}


#todo-button-wrapper button:hover::before {
    opacity: 0.08;
}

#todo-button-wrapper button:focus-within::before {
    opacity: 0.10;

    width: calc(100% + 0.25rem);
    height: calc(100% + 0.25rem);
    top: -0.125rem;
    left: -0.125rem;

    border-radius: 1.125rem;
    border: 3px solid var(--md-sys-color-light-secondary);
}

#todo-button-wrapper button:active::before {
    opacity: 0.08;
}


#todo-list {
    display: flex;
    width: 22.5rem;
    flex-direction: column;
    align-items: flex-start;
    background: var(--md-sys-color-light-surface);
    justify-self: center;
    /*list-style: none;*/
    /*padding: 0;*/
}

#todo-list li {
    display: flex;
    width: 22.5rem;
    height: 3.5rem;
    min-height: 3.5rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: var(--md-sys-color-light-surface);

    padding: 0.5rem 1rem;
    gap: 1rem;
    flex: 1 0 0;
}

#todo-list li.completed span {
    text-decoration: line-through;
    opacity: 0.6;
}

#todo-list li span {
    display: flex;
    justify-content: center;
    flex: 1 0 0;

    align-self: center;

    color: var(--md-sys-color-light-on-surface);
    font: var(--md-text-body-large);
    letter-spacing: var(--md-text-body-large-letter-spacing);

}

#todo-list li div.leading-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-list li div.leading-element div.checkboxes {
    display: flex;
    padding: 0.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#todo-list li div.leading-element div.checkboxes div.state-layer {
    display: flex;
    padding: 0.6875rem;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
}

#todo-list li div.leading-element div.checkboxes div.state-layer input[type="checkbox"] {
    width: 1.125rem;
    height: 1.125rem;

    border-radius: 0.125rem;
    border: 2px solid var(--md-sys-color-light-on-surface-variant);
    cursor: pointer;
}

#todo-list li div.leading-element div.checkboxes div.state-layer input[type="checkbox"]::before {
    width: 0.75rem;
    height: 0.5875rem;
    background-color: var(--md-sys-color-light-on-primary);
    transition: transform 0.1s ease-in-out;
}

#todo-list li div.leading-element div.checkboxes div.state-layer input[type="checkbox"]:checked {
    background-color: var(--md-sys-color-light-primary);
    border-radius: 0.125rem;
    border: none;
}

.remove-btn {
    display: flex;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    gap: 0.625rem;
    border: none;
    background: none;
}

.remove-btn svg {
    fill: var(--md-sys-color-light-on-surface-variant);
}

.todo-filters,
.clear-completed {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.todo-filters button {
    display: flex;
    height: 2rem;
    padding: 0.375rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: 0.5rem;
    border: 1px solid var(--md-sys-color-light-outline-variant);

    font: var(--md-text-label-large);
    letter-spacing: var(--md-text-label-large-letter-spacing);
    text-align: center;
    color: var(--md-sys-color-light-on-surface-variant);

    position: relative;
    overflow: hidden;
}

.todo-filters button:hover {
    background: var(--md-sys-color-light-surface);
}

.todo-filters button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: currentColor;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
}

.todo-filters button:hover::before {
    opacity: 0.08;
}

.todo-filters button:focus-within {
    background: var(--md-sys-color-light-surface);
}

.todo-filters button:focus-within::before {
    opacity: 0.10;

    width: calc(100% + 0.25rem);
    height: calc(100% + 0.25rem);
    top: -0.125rem;
    left: -0.125rem;

    border-radius: 0.625rem;
    border: 3px solid var(--md-sys-color-light-secondary);
}

#todo-button-wrapper button:active::before {
    opacity: 0.10;
}

.clear-completed button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.375rem 0.75rem;
    gap: 0.25rem;

    border-radius: 6.25rem;
    background: var(--md-sys-color-light-secondary-container);

    font: var(--md-text-label-large);
    letter-spacing: var(--md-text-label-large-letter-spacing);
    color: var(--md-sys-color-light-on-secondary-container);

    border: none;
}

.clear-completed button svg {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--md-sys-color-light-on-secondary-container);
}

.filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 1.5rem;
}

.todo-filters button.active {
    background-color: #3498db;
    color: #fff;
}

@media (max-width: 480px) {
    .todo-container {
        padding: 15px;
    }

    #todo-form {
        flex-direction: column;
    }

    #todo-form button {
        width: 100%;
    }

    .todo-filters,
    .clear-completed {
        flex-direction: column;
    }
}