:root {

    --md-sys-color-light-primary: rgb(98 94 86);
    --md-sys-color-light-surface-tint: rgb(98 94 86);
    --md-sys-color-light-on-primary: rgb(255 255 255);
    --md-sys-color-light-primary-container: rgb(184 178 169);
    --md-sys-color-light-on-primary-container: rgb(72 69 62);
    --md-sys-color-light-secondary: rgb(97 94 90);
    --md-sys-color-light-on-secondary: rgb(255 255 255);
    --md-sys-color-light-secondary-container: rgb(231 226 221);
    --md-sys-color-light-on-secondary-container: rgb(103 100 96);
    --md-sys-color-light-tertiary: rgb(93 95 89);
    --md-sys-color-light-on-tertiary: rgb(255 255 255);
    --md-sys-color-light-tertiary-container: rgb(178 179 172);
    --md-sys-color-light-on-tertiary-container: rgb(67 69 64);
    --md-sys-color-light-error: rgb(186 26 26);
    --md-sys-color-light-on-error: rgb(255 255 255);
    --md-sys-color-light-error-container: rgb(255 218 214);
    --md-sys-color-light-on-error-container: rgb(147 0 10);
    --md-sys-color-light-background: rgb(253 248 247);
    --md-sys-color-light-on-background: rgb(28 27 27);
    --md-sys-color-light-surface: rgb(253 248 247);
    --md-sys-color-light-on-surface: rgb(28 27 27);
    --md-sys-color-light-surface-variant: rgb(233 225 215);
    --md-sys-color-light-on-surface-variant: rgb(74 70 63);
    --md-sys-color-light-outline: rgb(123 118 110);
    --md-sys-color-light-outline-variant: rgb(204 198 188);
    --md-sys-color-light-shadow: rgb(0 0 0);
    --md-sys-color-light-scrim: rgb(0 0 0);
    --md-sys-color-light-inverse-surface: rgb(49 48 47);
    --md-sys-color-light-inverse-on-surface: rgb(244 240 238);
    --md-sys-color-light-inverse-primary: rgb(204 198 188);
    --md-sys-color-light-primary-fixed: rgb(232 226 216);
    --md-sys-color-light-on-primary-fixed: rgb(30 27 21);
    --md-sys-color-light-primary-fixed-dim: rgb(204 198 188);
    --md-sys-color-light-on-primary-fixed-variant: rgb(74 70 63);
    --md-sys-color-light-secondary-fixed: rgb(231 226 221);
    --md-sys-color-light-on-secondary-fixed: rgb(29 27 25);
    --md-sys-color-light-secondary-fixed-dim: rgb(202 198 193);
    --md-sys-color-light-on-secondary-fixed-variant: rgb(73 70 67);
    --md-sys-color-light-tertiary-fixed: rgb(226 227 219);
    --md-sys-color-light-on-tertiary-fixed: rgb(26 28 24);
    --md-sys-color-light-tertiary-fixed-dim: rgb(198 199 192);
    --md-sys-color-light-on-tertiary-fixed-variant: rgb(69 71 66);
    --md-sys-color-light-surface-dim: rgb(221 217 216);
    --md-sys-color-light-surface-bright: rgb(253 248 247);
    --md-sys-color-light-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-light-surface-container-low: rgb(247 243 241);
    --md-sys-color-light-surface-container: rgb(241 237 235);
    --md-sys-color-light-surface-container-high: rgb(236 231 230);
    --md-sys-color-light-surface-container-highest: rgb(230 226 224);

    /* Font Family */
    --md-font-family: "Roboto", sans-serif;

    /* Typography */

    /* Text Display */
    --md-text-display-large: 400 57px/64px var(--md-font-family);
    --md-text-display-large-emphasized: 500 57px/64px var(--md-font-family);
    --md-text-display-medium: 400 45px/52px var(--md-font-family);
    --md-text-display-medium-emphasized: 500 45px/52px var(--md-font-family);
    --md-text-display-small: 400 36px/44px var(--md-font-family);
    --md-text-display-small-emphasized: 500 36px/44px var(--md-font-family);

    /* Text Headline */
    --md-text-headline-large: 400 32px/40px var(--md-font-family);
    --md-text-headline-large-emphasized: 500 32px/40px var(--md-font-family);
    --md-text-headline-medium: 400 28px/36px var(--md-font-family);
    --md-text-headline-medium-emphasized: 500 28px/36px var(--md-font-family);
    --md-text-headline-small: 400 24px/32px var(--md-font-family);
    --md-text-headline-small-emphasized: 500 24px/32px var(--md-font-family);

    /* Text Title */
    --md-text-title-large: 400 22px/28px var(--md-font-family);
    --md-text-title-large-emphasized: 500 22px/28px var(--md-font-family);
    --md-text-title-medium: 500 16px/24px var(--md-font-family);
    --md-text-title-medium-emphasized: 700 16px/24px var(--md-font-family);
    --md-text-title-small: 500 14px/20px var(--md-font-family);
    --md-text-title-small-emphasized: 700 14px/20px var(--md-font-family);

    /* Text Label */
    --md-text-label-large: 500 14px/20px var(--md-font-family);
    --md-text-label-large-emphasized: 700 14px/20px var(--md-font-family);
    --md-text-label-medium: 500 12px/16px var(--md-font-family);
    --md-text-label-medium-emphasized: 700 12px/16px var(--md-font-family);
    --md-text-label-small: 500 11px/16px var(--md-font-family);
    --md-text-label-small-emphasized: 700 11px/16px var(--md-font-family);

    /* Text Body */
    --md-text-body-large: 400 16px/24px var(--md-font-family);
    --md-text-body-large-emphasized: 500 16px/24px var(--md-font-family);
    --md-text-body-medium: 400 14px/20px var(--md-font-family);
    --md-text-body-medium-emphasized: 500 14px/20px var(--md-font-family);
    --md-text-body-small: 400 12px/16px var(--md-font-family);
    --md-text-body-small-emphasized: 500 12px/16px var(--md-font-family);

    /* Letter spacing */
    --md-text-display-large-letter-spacing: -.25px;
    --md-text-display-medium-letter-spacing: 0;
    --md-text-display-small-letter-spacing: 0;
    --md-text-headline-large-letter-spacing: 0;
    --md-text-headline-medium-letter-spacing: 0;
    --md-text-headline-small-letter-spacing: 0;
    --md-text-title-large-letter-spacing: 0;
    --md-text-title-medium-letter-spacing: .15px;
    --md-text-title-small-letter-spacing: .1px;
    --md-text-label-large-letter-spacing: .1px;
    --md-text-label-medium-letter-spacing: .5px;
    --md-text-label-small-letter-spacing: .5px;
    --md-text-body-large-letter-spacing: .5px;
    --md-text-body-medium-letter-spacing: .25px;
    --md-text-body-small-letter-spacing: .4px;

    /* Material Design - Spacing - Increments of 4px */
    --md-spacing: 4px;

    --md-elevation-light-1-border-radius: 1rem;
    --md-elevation-light-1-background-color: var(--md-sys-color-light-surface-container-low);
    --md-elevation-light-1-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30), 0 1px 3px 1px rgba(0, 0, 0, 0.15);

    --md-elevation-light-2-border-radius: 1rem;
    --md-elevation-light-2-background-color: var(--md-sys-color-light-surface-container);
    --md-elevation-light-2-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30), 0 2px 6px 2px rgba(0, 0, 0, 0.15);

    --md-elevation-light-3-border-radius: 1rem;
    --md-elevation-light-3-background-color: var(--md-sys-color-light-surface-container-high);
    --md-elevation-light-3-box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.30);

    --md-elevation-light-4-border-radius: 1rem;
    --md-elevation-light-4-background-color: var(--md-sys-color-light-surface-container-high);
    --md-elevation-light-4-box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.30);

    --md-elevation-light-5-border-radius: 1rem;
    --md-elevation-light-5-background-color: var(--md-sys-color-light-surface-container-highest);
    --md-elevation-light-5-box-shadow: 0 8px 12px 6px rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.30);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--md-font-family), sans-serif;
}

body {
    background-color: var(--md-sys-color-light-background);
    color: var(--md-sys-color-light-on-background);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
}

.todo-container {
    background-color: var(--md-elevation-light-1-background-color);
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: var(--md-elevation-light-1-border-radius);
    box-shadow: var(--md-elevation-light-1-box-shadow);
}

.todo-container h1 {
    text-align: center;
    margin: 1rem 0 2.5rem 0;
    color: var(--md-sys-color-light-on-surface);
    font: var(--md-text-headline-large);
    letter-spacing: var(--md-text-headline-large-letter-spacing);
}

#todo-form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}


#todo-input-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.25rem;
    outline: 1px solid var(--md-sys-color-light-outline);
    background-color: var(--md-sys-color-light-surface);
}

#todo-input-div:focus-within {
    outline: 3px solid var(--md-sys-color-light-primary);
}

#todo-input-div:hover {
    outline: 1px solid var(--md-sys-color-light-on-surface);
}

#todo-input-label {
    display: flex;
    padding: 0.25rem 0 0.25rem 1rem;
    align-items: flex-start;
    gap: 0.25rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.25rem 0.25rem 0 0;
}

#todo-input {
    display: flex;
    height: 3rem;
    padding: 0.25rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 0;
    border: none;

    /* Input Text */
    font: var(--md-text-body-large);
    letter-spacing: var(--md-text-body-large-letter-spacing);
    color: var(--md-sys-color-light-on-surface);
}

#todo-input::placeholder {
    font: var(--md-text-body-large);
    letter-spacing: var(--md-text-body-large-letter-spacing);
    color: var(--md-sys-color-light-on-surface-variant);
}

#todo-input:focus,
#todo-input:active {
    outline: none;
    box-shadow: none;
}

#todo-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-button-wrapper button {
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: 1rem;
    border: none;

    background: var(--md-sys-color-light-primary);
    font: var(--md-text-title-medium);
    color: var(--md-sys-color-light-on-primary);
    letter-spacing: var(--md-text-title-medium-letter-spacing);

    position: relative;
    overflow: hidden;
}

#todo-button-wrapper button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: currentColor;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
}


#todo-button-wrapper button:hover::before {
    opacity: 0.08;
}

#todo-button-wrapper button:focus-within::before {
    opacity: 0.10;

    width: calc(100% + 0.25rem);
    height: calc(100% + 0.25rem);
    top: -0.125rem;
    left: -0.125rem;

    border-radius: 1.125rem;
    border: 3px solid var(--md-sys-color-light-secondary);
}

#todo-button-wrapper button:active::before {
    opacity: 0.08;
}


#todo-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    /*list-style: none;*/
    /*padding: 0;*/
}

#todo-list li {
    display: flex;
    min-height: 3.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;
    background: var(--md-sys-color-light-surface);
}

#todo-list li.completed span {
    text-decoration: line-through;
    opacity: 0.6;
}

.remove-btn {
    display: flex;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    gap: 0.625rem;
}

.remove-btn svg {
    fill: var(--md-sys-color-light-on-surface-variant);
}

.todo-filters,
.clear-completed {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.todo-filters button {
    display: flex;
    height: 2rem;
    padding: 0.375rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: 0.5rem;
    border: 1px solid var(--md-sys-color-light-outline-variant);

    font: var(--md-text-label-large);
    letter-spacing: var(--md-text-label-large-letter-spacing);
    text-align: center;
    color: var(--md-sys-color-light-on-surface-variant);

    position: relative;
    overflow: hidden;
}

.todo-filters button:hover {
    background: var(--md-sys-color-light-surface);
}

.todo-filters button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: currentColor;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
}

.todo-filters button:hover::before {
    opacity: 0.08;
}

.todo-filters button:focus-within {
    background: var(--md-sys-color-light-surface);
}

.todo-filters button:focus-within::before {
    opacity: 0.10;

    width: calc(100% + 0.25rem);
    height: calc(100% + 0.25rem);
    top: -0.125rem;
    left: -0.125rem;

    border-radius: 0.625rem;
    border: 3px solid var(--md-sys-color-light-secondary);
}

#todo-button-wrapper button:active::before {
    opacity: 0.10;
}

.clear-completed button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.375rem 0.75rem;
    gap: 0.25rem;

    border-radius: 6.25rem;
    background: var(--md-sys-color-light-secondary-container);

    font: var(--md-text-label-large);
    letter-spacing: var(--md-text-label-large-letter-spacing);
    color: var(--md-sys-color-light-on-secondary-container);

    border: none;
}

.clear-completed button svg {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--md-sys-color-light-on-secondary-container);
}

.filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 1.5rem;
}

.todo-filters button.active {
    background-color: #3498db;
    color: #fff;
}

@media (max-width: 480px) {
    .todo-container {
        padding: 15px;
    }

    #todo-form {
        flex-direction: column;
    }

    #todo-form button {
        width: 100%;
    }

    .todo-filters,
    .clear-completed {
        flex-direction: column;
    }
}